#customFile{
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06);
  margin-left: auto;
  margin-right: auto;
  max-width: 500px;
}


#audio-player{
  margin-top: 10px;
}

#video-player{
  max-width: 500px;
  max-height: 500px;
}

.sentence {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  padding: 5px 10px;
  margin-left: 10px;
  line-height: 40px;
}

.sentence-transcript {
  display: flex;
  justify-content: flex-start;
  text-align: left;
  width: 85%;
}
.transcript-time {
  width: 80px;
  text-align: left;
}

.transcript-speaker {
  width: 100px;
  white-space: nowrap;
  margin-left: 15px;
}

.transcript-text {
  margin-left: 15px;
  width: 800px;
}

.add-question-button {
  display: none;
  font-size: 16px;
  width: 160px;
  height: 40px;
  border: 0;
  border-radius: 5px;
}

.sentence:hover .add-question-button {
  display: block;
}

.card-body {
  height: 400px;
  overflow-y: scroll;
}

.question-options {
  display: flex;
  justify-content: center;
  gap: 20px;
}

#question-table-question {
  max-width: 350px;
}