.navbar{
    display: flex;
}


#fileInputGroup{
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}


.input-group{
    background-color: lightblue;
    border: 1px solid black;
}

body{
    text-align: center;
}

.navbar-brand{
    height: 75px;
}

.tcu-image{
    height: 100px;
    width: 100px;
    margin-left: 10px;
    padding-bottom: 30px;
    padding-left: 10px;
}

.navbar-nav{
    padding-right: 30px;
}

.lead {
    height: 300px;
    overflow: auto;
    border: 0.5px solid black;
}