.main-body {
    padding: 15px;
    margin-top: 40px;
}

.card {
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06);
}

.gutters-sm {
    margin-right: -8px;
    margin-left: -8px;
}

.gutters-sm>.col, .gutters-sm>[class*=col-] {
    padding-right: 8px;
    padding-left: 8px;
}

#submit{
    margin-left: 2px;
}


#delete-button{
    float: right;
}

#name-report{
    margin-bottom: 25px;
}